<footer class="footer_widgets">
	<div class="footer_top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="widgets_container contact_us">
						<div class="footer_logo">
							<a href="#"><img src="~/site/img/logo/logo.png" alt=""></a>
						</div>
						<div class="footer_contact">
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
							<p><span>آدرس: </span> تبریز، چهارراه آبرسان، فلکه دانشگاه، برج بلور، طبقه 678، واحد 85</p>
							<p><span>موبایل: </span><a class="ltr-text" href="tel:+989123456789">+(98) 123 456 789</a> ، <a class="ltr-text" href="tel:+989123456789">+(98) 123 456 789</a> </p>
							<p><span>پشتیبانی: </span><a target="_blank" href="#">support@sample.com</a></p>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="widgets_container widget_menu">
						<h3>اطلاعات</h3>
						<div class="footer_menu">
							<ul>
								<li><a href="about.html">درباره ما</a></li>
								<li><a href="blog.html">نحوه ارسال</a></li>
								<li><a href="contact.html">سیاست حریم خصوصی</a></li>
								<li><a href="services.html">قوانین و مقررات</a></li>
								<li><a href="#">مرجوعی ها</a></li>
								<li><a href="#">کارت های هدیه</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="widgets_container widget_menu">
						<h3>حساب کاربری</h3>
						<div class="footer_menu">
							<ul>
								<li><a href="#">حساب کاربری</a></li>
								<li><a href="#">سابقه خرید</a></li>
								<li><a href="wishlist.html">علاقه‌مندی‌ها</a></li>
								<li><a href="#">خبرنامه</a></li>
								<li><a href="#">نمایندگی ها</a></li>
								<li><a href="faq.html">سفارشات بین المللی</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="widgets_container newsletter">
						<h3>ما را دنبال کنید</h3>
						<div class="footer_social_link">
							<ul>
								<li><a class="facebook" href="#" title="فیسبوک"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter" href="#" title="توییتر"><i class="fa fa-twitter"></i></a></li>
								<li><a class="instagram" href="#" title="اینستاگرام"><i class="fa fa-instagram"></i></a></li>
								<li><a class="telegram" href="#" title="تلگرام"><i class="fa fa-telegram"></i></a></li>
								<li><a class="rss" href="#" title="RSS"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
						<div class="subscribe_form">
							<h3>هم اکنون عضو خبرنامه ما شوید</h3>
							<form id="mc-form" class="mc-form footer-newsletter" method="post">
								<input id="mc-email" type="email" autocomplete="off" placeholder="... آدرس ایمیل شما" dir="ltr">
								<button id="mc-submit">اشتراک!</button>
							</form>
							<!-- mailchimp-alerts Start -->
							<div class="mailchimp-alerts text-centre">
								<div class="mailchimp-submitting"></div>
								<!-- mailchimp-submitting end -->
								<div class="mailchimp-success"></div>
								<!-- mailchimp-success end -->
								<div class="mailchimp-error"></div>
								<!-- mailchimp-error end -->
							</div>
							<!-- mailchimp-alerts end -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6">
					<div class="copyright_area">
						<p>مهدی یدی</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="footer_payment text-right">
						<a href="#"><img src="~/site/img/icon/payment.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>