@model Domain.Account.ChangePasswordDTO
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}
<section class="main_content_area">
	<div class="container">
		<div class="account_dashboard">
			<div class="row">

				@await Component.InvokeAsync("Menu")

				<div class="col-sm-12 col-md-9 col-lg-9">
					<div class="tab-content dashboard_content">
						<div class="tab-pane fade active show" id="account-details">
							@if (ViewBag.success == true)
							{
								<div class="alert alert-success">
									اطلاعات کاربری شما با موفقیت ثبت شد
								</div>
							}
							@if (ViewBag.success == false)
							{
								<div class="alert alert-warning">
									اطلاعات نامعتبر است
								</div>
							}
							<h3>جزئیات حساب </h3>
							<div class="login">
								<div class="login_form_container">
									<div class="account_login_form">
										<form asp-area="UserPanel" asp-controller="Profile" asp-action="ChangePassword" method="post">
											<br>
											<label>کلمه عبور فعلی</label>
											<input type="text" asp-for="OldPassword">
											<span asp-validation-for="OldPassword"></span>
											<label>کلمه عبور جدید</label>
											<input type="text" asp-for="NewPassword">
											<span asp-validation-for="NewPassword"></span>
											<label>تکرار کلمه عبور جدید</label>
											<input type="text" asp-for="RePassword">
											<span asp-validation-for="RePassword"></span>
											<div class="save_button primary_btn default_button">
												<button type="submit">ذخیره</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>