
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}
<section class="main_content_area">
	<div class="container">
		<div class="account_dashboard">
			<div class="row">

				@await Component.InvokeAsync("Menu")

				<div class="col-sm-12 col-md-9 col-lg-9">
					<div class="tab-content dashboard_content">
					</div>
				</div>

			</div>
		</div>
	</div>
</section>