@model Domain.Products.CreateProductDTO
@{
    ViewData["Title"] = "افزودن محصول";
}


<form method="post" asp-area="AdminPanel" asp-controller="Products" asp-action="CreateProduct" enctype="multipart/form-data">
    
    <input type="text" asp-for="Title" placeholder="Title" />
    
    <input type="text" asp-for="Price" placeholder="price"/>
    
    <textarea  asp-for="Description" placeholder="des" style="width: 100px; height: 100px;">
    </textarea>
    
    <input type="file" name="imageFile"/>

    <button type="submit" class="btn btn-success">ثبت</button>

</form>