@model Domain.Products.EditProductDTO
@{
    ViewData["Title"] = "ویرایش محصول";
}

<form method="post" asp-area="AdminPanel" asp-controller="Products" asp-action="EditProduct" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="ImageName" />

    <input type="text" asp-for="Title" placeholder="Title" />

    <input type="text" asp-for="Price" placeholder="price" />

    <textarea asp-for="Description" placeholder="des" style="width: 100px; height: 100px;">
    </textarea>
    
    <img src="/images/@Model.ImageName" style="width: 50px; height:50px;" />

    <input type="file" name="imageFile" />

    <button type="submit" class="btn btn-primary">ویرایش</button>

</form>