
@{
    ViewData["Title"] = "شما دسترسی ندارید";
}
<partial name="_PageNavbar" />
<div class="customer_login mt-60">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="account_form alert alert-danger">
					<h2>عدم دسترسی</h2>
					<p>شما دسترسی ندارید!</p>
				</div>
			</div>
		</div>
	</div>
</div>