
@{
    ViewData["Title"] = "ارتباط با ما";
}

<partial name="_PageNavbar" />


<div class="contact_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="contact_message content">
					<h3>تماس با ما</h3>
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی</p>
					<ul>
						<li><i class="fa fa-fw fa-map-marker"></i> تبریز، چهارراه آبرسان، فلکه دانشگاه، برج بلور، طبقه 678، واحد 85</li>
						<li><i class="fa fa-fw fa-phone"></i> <span class="ltr-text">+(98) 123 456 789</span> ، <span class="ltr-text">+(98) 123 456 789</span></li>
						<li><i class="fa fa-fw fa-envelope-o"></i> <a href="#">info@sample.com</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="contact_message form">
					<h3>با ما در میان بگذارید</h3>
					<form id="contact-form" method="POST" action="assets/php/mail.php">
						<p>
							<label> نام شما (الزامی)</label>
							<input name="name" placeholder="نام *" type="text" required>
						</p>
						<p>
							<label> ایمیل شما (الزامی)</label>
							<input name="email" placeholder="* ایمیل" type="email" dir="ltr" required>
						</p>
						<p>
							<label> موضوع</label>
							<input name="subject" placeholder="موضوع" type="text">
						</p>
						<div class="contact_textarea">
							<label> پیام شما</label>
							<textarea placeholder="پیام *" name="message" class="form-control2" required></textarea>
						</div>
						<button type="submit"> ارسال</button>
						<p class="form-messege"></p>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>